body, html {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  background-color:ffffff;
  
}


/* Navbar container */
.navbar {
  overflow: hidden; /* Barra de rolagem não aparece*/
  background-color: #210e07;/* Cor de fundo do container*/
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*Remove a decoração abaixo dos textos*/
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Fim Navbar*/

/*CSS HERO IMAGE*/

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/heroimage.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Texto centralizado no meio do hero image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

 
}
/*Fim hero image*/

.btnpedidos{
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: #e74c3c;;
  padding: 10px 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
/*Logo Tipo*/
.logo-topo{
  float: right;
  padding: 10px
  
}

.section-history{
 background-color: #f4f4f4;
}
/*Titulo section history*/
body > div:nth-child(3) > section > h1{
padding: 10px;
text-align: center;
}

body > div:nth-child(3) > section > p{
  text-align: justify;
}

body > div:nth-child(3) > section > figure > img{
  max-width:100%;
  height: auto;
 
  
}


/*Pizzas Favoritas*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}

/*Fim carrousel de pizzas*/

/*Titúlo Nossas Pizzas Favoritas*/
body > h1{
  text-align: center;
  margin: 50px;
  color: #e74c3c;
}

/*Titúlos Nossa História*/
body > div:nth-child(3) > section > h1{
color:#e74c3c ;
padding: 30px;
}

/*Pizza Margueria*/
body > div.container > div:nth-child(1) > div.top-text > div{
text-align: center;
margin: 20px;
}

/*Pizza Calabresa*/
body > div.container > div:nth-child(2) > div.top-text > div{
  text-align: center;
  margin: 20px;
}
/*Pizza Portuguesa*/
body > div.container > div:nth-child(3) > div.top-text > div{
  text-align: center;
  margin: 20px;
}